---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

  <main class="max-w-4xl mx-auto px-6 py-20">

    <h1 class="text-5xl font-bold mb-4">
      About
    </h1>

    <div class="space-y-4 leading-relaxed">
       <p>
       <br>
      </p>
      <p>
        BELUNE WORKSは、夜の都市や静かな空間、日常の中に潜む小さな違和感をテーマに音楽を制作しています。
      </p>

      <p>
        映像やゲーム、ブランドムービーなど、
        作品に寄り添うBGMであることはもちろん、<br>
        一曲一曲が短い物語のように記憶に残る音楽を目指しています。
      </p>

      <p>
        このサイトでは、オリジナル作品やフリーBGM、アルバム、制作実績などを公開しています。
      </p>

      <p>
        BELUNE WORKSの音楽が、誰かの作品や日常に、小さな非日常を添えられたら嬉しく思います。
      </p>

    </div>

    <!-- Composer Profile -->

    <div class="border-t mt-20 pt-12">

      <h2 class="text-2xl font-medium mb-6">
        Composer Profile
      </h2>

      <div class="space-y-4 leading-relaxed">

        <p>
          Leia B。東京を拠点に活動する作曲家。
          ゲーム音楽・映像音楽・配信用BGMを中心に制作しています。
        </p>

        <p>
          映像やゲーム、ブランドコンテンツに寄り添いながら、
          BELUNE WORKSならではの静けさと緊張感のあるサウンドを追求しています。
        </p>

        <p>
          過去の活動を含め、Web CM、ブランドプロモーション映像、アニメーション作品などへの楽曲制作・劇伴制作に携わってきました。<br>
          現在は「Leia B」として、ゲーム・映像作品を中心にオリジナル音楽を制作しています。
        </p>

      </div>

       </div>

    <!-- Equipment -->

    <div class="border-t mt-20 pt-12">

      <h2 class="text-2xl font-medium mb-6">
        Equipment
      </h2>

      <div class="space-y-4 leading-relaxed">

        <p>
          <strong>DAW</strong><br>
          Studio One
        </p>

        <p>
          <strong>Audio Interface</strong><br>
          Baby Face Pro FS
        </p>

       
      </div>


    <div class="border-t mt-20 pt-12">

      <h2 class="text-2xl font-medium mb-6">
        Keywords
      </h2>

      <div class="flex flex-wrap gap-3">

        <span class="px-4 py-2 border rounded-full">
          Urban
        </span>

        <span class="px-4 py-2 border rounded-full">
          Cinematic
        </span>

        <span class="px-4 py-2 border rounded-full">
          Luxury
        </span>

        <span class="px-4 py-2 border rounded-full">
          Minimal
        </span>

        <span class="px-4 py-2 border rounded-full">
          Worldbuilding
        </span>

      </div>

    </div>
    <!-- Contact -->

    <div class="border-t mt-20 pt-12">

      <h2 class="text-2xl font-medium mb-6">
        Contact
      </h2>

      <div class="space-y-4 leading-relaxed">
        ゲーム音楽、映像作品、配信用BGMをはじめ、
        オリジナル楽曲制作のご依頼やコラボレーションのご相談を承っております。<br>
        ご興味をお持ちいただけましたら、
        <a href="/contact" class="underline hover:opacity-70">Contactページ</a>
        よりお気軽にお問い合わせください。
      </p>

    </div>

  </main>

</BaseLayout>