---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="max-w-2xl mx-auto mt-20 px-4">
    <h2 class="text-3xl font-bold mb-4 text-center">
      Contact Test
    </h2>

    <p class="text-center mb-8">
      Formspree動作確認用
    </p>

<form action="https://formspree.io/f/xeebqyra" method="POST">
  <input name="email" value="test@example.com" />
  <button type="submit">送信</button>
</form>
  </section>
</BaseLayout>