---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

  <main class="max-w-3xl mx-auto px-6 py-32 text-center">

    <h1 class="text-5xl font-bold mb-8">
      Store
    </h1>

    <p class="text-2xl font-light mb-6">
      Coming Soon
    </p>

    <p class="text-lg leading-relaxed text-gray-500">
      BELUNE WORKSのオリジナルアルバムや<br />
      音源素材を販売予定です。<br /><br />

      公開まで今しばらくお待ちください。
    </p>

  </main>

</BaseLayout>