<div class="pb-8 flex justify-center gap-5 text-sm tracking-widest">

  <a href="https://www.youtube.com/@beluneworks" target="_blank">
    YouTube
  </a>

  <a href="https://x.com/beluneworks" target="_blank">
    X
  </a>

  <a href="https://YOURNAME.booth.pm" target="_blank">
    BOOTH
  </a>



</div>