<div class="pb-8 flex justify-center gap-5 text-sm tracking-widest">

  <a href="https://youtube.com/@YOURCHANNEL" target="_blank">
    YT
  </a>

  <a href="https://instagram.com/YOURID" target="_blank">
    IG
  </a>

  <a href="https://x.com/YOURID" target="_blank">
    X
  </a>

  <a href="https://YOURNAME.booth.pm" target="_blank">
    BOOTH
  </a>

  <a href="https://YOURNAME.bandcamp.com" target="_blank">
    BC
  </a>

</div>